#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_SERPROXY
	tristate "Serial proxy example"
	default n
	---help---
		Enable the serial proxy example

if EXAMPLES_SERPROXY
endif
